---
layout: post
title: 使用 Google Search Console 设置网站域名的 DNS 验证
categories: [教程]
description: 关于 google-site-verification，使用 Google Search Console 设置网站域名的 DNS 验证
keywords: google-site-verification,Google Search Console
---

Content here

CDN加速：`https://cdn.jsdelivr.net/gh/isanthree/blog-gallery/pic/`

一、进入 [https://search.google.com/search-console/welcome](https://search.google.com/search-console/welcome) ，在下图网域栏填写自己的域名，点击 “继续”

![img](https://pic4.zhimg.com/80/v2-86843f2710f85f87e4037fe347288a53_720w.webp)

二、复制生成的 google-site-verification

![img](https://pic4.zhimg.com/80/v2-1996864fd54c02a4a8b2ac6994761e23_720w.webp)

三、然后转到DNS配置

![img](https://pic2.zhimg.com/80/v2-5d665547a4b901e400f6892850a838c5_720w.webp)

上图中，点击 “添加记录”，如下图步骤设置 “记录类型”，填写 “主机记录”、“记录值” 等信息，点击确认。

![img](https://pic2.zhimg.com/80/v2-450b4eedac74778384e52bc3328aa99d_720w.webp)

四、回到 Google Search Console，进行验证，大功告成。

![img](https://pic3.zhimg.com/80/v2-ce578df8ffc6856bd96cd14958f6a95a_720w.webp)
